@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overscroll-behavior-y: none;
    overscroll-behavior: none;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    overscroll-behavior-y: none;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

